{% extends "base.html" %}
{% block title %}Server Error{% endblock %}
{% block content %}
    <div class="center-card">
        <div class="big-icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
        <h1 style="font-size: 22px;">Technical Hiccup</h1>
        <p>Something unexpected went wrong while processing your request. It's not you &mdash; the error has been logged.</p>
        <a class="btn btn-primary" href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i> Back to Home</a>
    </div>
{% endblock %}